{% extends '@SyliusShop/layout.html.twig' %}

{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% block content %}
    <h4 style="font-size: 25px;color: #3e4d5c;"
        class="ui monster section dividing header">{{ 'product.search'|trans({'value': app.request.get('search')}) }}</h4>
    {% if products|length > 0 %}
        <div class="ui four doubling cards">
            {% for product in products %}
                {% include '@CubaMatrixApp/Product/_cubamatrix_product_show.html.twig' %}
            {% endfor %}
        </div>
    {% else %}
        {{ messages.info('sylius.ui.no_results_to_display') }}
    {% endif %}
{% endblock %}
