/.php_cs.cache
/.github

/app/config/parameters.yml
/app/config/*.local.yml
/var/*
!/var/.gitkeep

/docs/.doctrees

/web/assets/admin
/web/assets/shop
/web/assets/cubamatrix/vendor
/web/bundles
/web/css
/web/js
/web/media

/bin/*
!/bin/build-package
!/bin/build-packages
!/bin/clean-package
!/bin/clean-packages
!/bin/console
!/bin/fix-coding-standards
!/bin/install-package
!/bin/install-packages
!/bin/require-symfony-version
!/bin/symfony_requirements
!/bin/test-package
!/bin/test-packages
!/bin/validate-package
!/bin/validate-packages

/composer.lock
/vendor
/node_modules

/etc/build/*
!/etc/build/.gitkeep

/behat.yml
/phpspec.yml
/.web-server-pid

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# -- Editores -----------------------------------------
# vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# eclipse
*.pydevproject
.project
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.buildpath

# phpstorm
.idea/

# textmate
*.tmproj
*.tmproject
tmtags

# sublimetext
/*.sublime-project
*.sublime-workspace

# netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
nbproject/project.properties
nbproject/project.xml

# -- Sistemas Operativos ------------------------------
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~

# Mac OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes