<div class="column">
    <a href="{{ path('sylius_shop_homepage') }}"><img
                src="{{ asset('assets/cubamatrix/images/color_logo_transparent.png') }}"
                alt="{{ 'system.logo'|trans }}"
                class="ui small image"/></a>
    {{ sonata_block_render_event('sylius.shop.layout.header') }}
</div>
