{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <div style="margin-top: 1%">
        <h2 class="ui horizontal section divider header">
            {{ 'sylius.ui.about'|trans }}
        </h2>
        <div class="smart-widget m-top-lg widget-dark-blue">
            <div class="smart-widget-header">
                <h4>{{ 'system.about.us.who_we_are'|trans }}</h4>
            </div>
            <div class="smart-widget-inner">
                <div class="smart-widget-body">
                    <p>
                        Somos una compañía con sede en Miami, Florida, Estados Unidos de América, constituida con el
                        propósito de facilitar el acceso directo a productos de calidad propia del mercado
                        norteamericano a
                        la
                        comunidad cubana a lo largo y ancho del país. Especialmente a los residentes en EE.UU. con sus
                        familiares en Cuba, así como garantizar su envío y entrega a familiares, amigos, o cualquier
                        persona
                        que usted decida.
                    </p>
                    <p>
                        Poseemos una vasta experiencia en el envío de mensajería y carga avalada por nuestros sistemas
                        logísticos, a partir de nuestras relaciones con nuestros representantes debidamente legalizados
                        en
                        los
                        países de destino, para poder atender de manera dedicada a nuestros clientes. Tenemos la
                        capacidad
                        de
                        darle seguimiento a su envío todo el tiempo, garantizando que sea despachado en el menor tiempo
                        posible
                        y con toda la seguridad que requiere.
                    </p>
                    <p>
                        También ofrecemos servicios de orientación y referencias sobre las regulaciones aduanales
                        vigentes
                        tanto
                        en Cuba como en Estados Unidos, para garantizar que cada cliente obtenga la solución más eficaz
                        y
                        eficiente acorde con sus necesidades.
                    </p>
                </div>
            </div><!-- ./smart-widget-inner -->
        </div>
    </div>
{% endblock %}
