{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <div style="margin-top: 1%">
        <h2 class="ui horizontal section divider header">
            {{ 'sylius.ui.delivery_and_shipping'|trans }}
        </h2>
        <div class="smart-widget m-top-lg widget-dark-blue">
            <div class="smart-widget-header">
                <h4>¿Cómo funciona para órdenes de entregas y recogidas en USA?</h4>
            </div>
            <div class="smart-widget-inner">
                <div class="smart-widget-body">
                    <p>
                        Pueden hacer cualquier orden online y recogerla en la tienda, o también si vive fuera de la
                        Miami
                        podemos enviar la mercancía por FEDEX, UPS, USPS, etc., le dejaremos saber que se está enviando
                        para
                        que espere el paquete. El pago puede ser por Money Order, tarjeta de crédito o transferencia
                        bancaria. Al realizar su orden usted debe completar los campos de: Nombre, dirección, teléfonos
                        y
                        e-mail para procesar él envió, o para el envió a nuestra oficina pueden mandar la mercancía a
                        nuestro almacén en Miami, FL por FEDEX, UPS, USPS, etc., solo nos deja saber que está enviando
                        para
                        esperar el paquete. Aquí lo pesamos y le informamos el costo, el pago puede ser por Money Order,
                        tarjeta de crédito o transferencia bancaria. Nos da los datos de su familiar en Cuba e-mail:
                        Nombre,
                        dirección, teléfonos y # de carnet de identidad para procesar él envió.
                        <br>
                        Debe chequear el listado de Artículos Autorizados para cantidades, impuesto de aduana en Cuba,
                        etc.,
                        o nos deja saber que quiere enviar y nosotros le informamos.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
