{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <div style="margin-top: 1%">
        <h2 class="ui horizontal section divider header">
            {{ 'sylius.ui.faqs'|trans }}
        </h2>
        <div class="smart-widget m-top-lg widget-dark-blue">
            <div class="smart-widget-header">
                <h4>¿Quiénes pueden recibir envíos?</h4>
            </div>
            <div class="smart-widget-inner">
                <div class="smart-widget-body">
                    <p>
                        Las personas que residen temporal o definitivamente en el país pueden recibir mediante envíos
                        cualquier artículo o equipo, salvo los expresamente prohibidos. En el caso de los artículos o
                        equipos sujetos a regulaciones de algún organismo competente, deberán presentar ante la Aduana
                        el
                        documento de autorización correspondiente.
                    </p>
                </div>
            </div><!-- ./smart-widget-inner -->
        </div>
        <div class="smart-widget m-top-lg widget-dark-blue">
            <div class="smart-widget-header">
                <h4>¿Qué puedo enviar?</h4>
            </div>
            <div class="smart-widget-inner">
                <div class="smart-widget-body">
                    <p>
                        Todos los artículos o equipos que se pueden importar en Cuba están regulados por la Gaceta
                        Oficial
                        de la Aduana de Cuba. En nuestra página de Regulaciones encontraran el listado de Artículos
                        Autorizados.
                    </p>
                </div>
            </div><!-- ./smart-widget-inner -->
        </div>
        <div class="smart-widget m-top-lg widget-dark-blue">
            <div class="smart-widget-header">
                <h4>Límite y pago de los derechos de aduana</h4>
            </div>
            <div class="smart-widget-inner">
                <div class="smart-widget-body">
                    <p>
                        El límite en valor de los envíos es de doscientos puntos (200) por persona, de los cuales los
                        primeros 30 puntos son libres de pago.
                        <br>
                        En el caso de los artículos duraderos se pagará el equivalente a los puntos aduanales por cada
                        artículo disminuido en los 30 puntos libres de pago.
                    </p>
                </div>
            </div><!-- ./smart-widget-inner -->
        </div>
        <div class="smart-widget m-top-lg widget-dark-blue">
            <div class="smart-widget-header">
                <h4>¿Se pueden mandar televisores, refrigeradores y plantas eléctricas?</h4>
            </div>
            <div class="smart-widget-inner">
                <div class="smart-widget-body">
                    <p>
                        Tv planos, refrigeradores y plantas eléctricas (mayores de 900wats) solo se pueden mandar si van
                        como equipaje no acompañado, es decir si viajas a Cuba, mandas la mercancía con nosotros y usted
                        mismo recoge su envió en Cuba en la Agencia Palco. Si ese es el caso pagaría $1.89 x libra aquí
                        y el
                        impuesto aduanal al recoger. Podemos mandar la mercancía hasta 60 días antes de su viaje para
                        que
                        esta lista para recoger cuando usted llegue a Cuba o puede hacer un poder notarial allá en Cuba
                        para
                        que alguien recoja por usted.
                    </p>
                </div>
            </div><!-- ./smart-widget-inner -->
        </div>
        <div class="smart-widget m-top-lg widget-dark-blue">
            <div class="smart-widget-header">
                <h4>¿Cuánto se paga en Cuba?</h4>
            </div>
            <div class="smart-widget-inner">
                <div class="smart-widget-body">
                    <p>
                        En dependencia del producto aduana puede cobrar impuestos en cuc, la mayoría de los artículos no
                        pagan nada porque entran en nuestro descuento de agencia de 30 cuc. Misceláneas no paga nada.
                        Para
                        un listado completo de los impuestos de aduana cubana visite Artículos Autorizados.
                        <br>
                        Todos los envíos pagan un cargo en pesos cubanos por concepto de manejo y se cobra cuando se
                        recoge
                        la mercancía en la agencia Palco:
                    <ul class="list-unstyled">
                        <li class="list-group-item"><i class="fa fa-arrow-right"></i> 60 pesos por misceláneas</li>
                        <li class="list-group-item"><i class="fa fa-arrow-right"></i> 110 pesos hasta 22 libras</li>
                        <li class="list-group-item"><i class="fa fa-arrow-right"></i> 220 pesos más de 22 libras</li>
                    </ul>
                    </p>
                </div>
            </div><!-- ./smart-widget-inner -->
        </div>
        <div class="smart-widget m-top-lg widget-dark-blue">
            <div class="smart-widget-header">
                <h4>¿Envíos al interior?</h4>
            </div>
            <div class="smart-widget-inner">
                <div class="smart-widget-body">
                    <p>
                        Los enviós son hasta la agencia Palco, en La Habana. Su familiar o amigo debe presentarse con su
                        carnet de identidad y/o pasaporte para recoger la mercancía o el poder notarial allá en Cuba
                        para
                        que alguien recoja por usted la mercancía.
                        <br>
                        Los <b>puntos aduanales</b> corresponden al valor en pesos que debe pagar por cada artículo a
                        importar.
                        <br>
                        En esta sección usted podrá encontrar diferentes resoluciones referentes a normas y resoluciones
                        publicadas en le Gaceta oficial de la República de Cuba acerca de las importaciones con carácter
                        no
                        comercial.
                    </p>
                </div>
            </div><!-- ./smart-widget-inner -->
        </div>
        <div class="smart-widget m-top-lg widget-dark-blue">
            <div class="smart-widget-header">
                <h4>¿Qué es un equipaje no acompañado (ENA)?</h4>
            </div>
            <div class="smart-widget-inner">
                <div class="smart-widget-body">
                    <b>Quien Califica:</b>
                    <ul class="list-unstyled">
                        <li class="list-group-item"><i class="fa fa-arrow-right"></i> El equipaje llega o sale antes o
                            después de la fecha de salida o arribo del pasajero.
                        </li>
                        <li class="list-group-item"><i class="fa fa-arrow-right"></i> Pertenece a una persona que
                            realmente
                            ha viajado a Cuba.
                        </li>
                        <li class="list-group-item"><i class="fa fa-arrow-right"></i> Ha sido embarcado en el mismo país
                            de
                            procedencia del pasajero.
                        </li>
                        <li class="list-group-item"><i class="fa fa-arrow-right"></i> Ha sido despachado o embarcado en
                            el
                            país de origen por el propio pasajero o en su nombre.
                        </li>
                        <li class="list-group-item"><i class="fa fa-arrow-right"></i> Esta consignado al propio
                            pasajero.
                        </li>
                        <li class="list-group-item"><i class="fa fa-arrow-right"></i> No haya transcurrido, desde la
                            fecha
                            de llegada al país del pasajero, más de treinta (30) días si
                            arriba por vía aérea, ni más de sesenta (60) días si el arribo es por vía marítima.
                        </li>
                    </ul>
                    <br>
                    <b>Residentes cubanos viajando al exterior:</b>
                    <ul class="list-unstyled">
                        <li class="list-group-item"><i class="fa fa-arrow-right"></i> Cada residente cubano de visita en
                            el
                            exterior tiene derecho a importar una vez al año artículos
                            por un valor aduanal de hasta 950 puntos / 1500 pesos cubanos en total, los cuales incluye
                            tanto
                            el
                            valor de lo que se envía, como el equipaje del pasajero que viajara por el aeropuerto.
                        </li>
                    </ul>
                    <br>
                    <b>Residentes cubanos (que ya consumieron su primera vez en pesos cubanos) y Visitantes:</b>
                    <ul class="list-unstyled">
                        <li class="list-group-item"><i class="fa fa-arrow-right"></i> Pueden enviar todo tipo de
                            artículos
                            sujeto a los impuestos aduanales de la Gaceta Oficial de
                            Cuba.
                        </li>
                    </ul>
                </div>
            </div><!-- ./smart-widget-inner -->
        </div>
        <div class="smart-widget m-top-lg widget-dark-blue">
            <div class="smart-widget-header">
                <h4>Vivo fuera de Miami, ¿cómo puedo comprar y enviar con Cubamatrix?</h4>
            </div>
            <div class="smart-widget-inner">
                <div class="smart-widget-body">
                    <p>
                        Pueden mandar la mercancía a nuestro almacén, Miami FL por FEDEX, UPS, USPS, etc., nos deja
                        saber
                        que está enviando para esperar el paquete. Aquí lo pesamos y le informamos el costo, el pago
                        puede
                        ser por Money Order, tarjeta de crédito o transferencia bancaria. Nos da los datos de su
                        familiar en
                        Cuba email: Nombre, dirección, teléfonos y # de carnet de identidad para procesar él envió.
                        Debe chequear el listado de Artículos Autorizados para cantidades, impuesto de aduana en Cuba,
                        etc.,
                        o nos deja saber que quiere enviar y nosotros le informamos.
                    </p>
                </div>
            </div><!-- ./smart-widget-inner -->
        </div>
        <div class="smart-widget m-top-lg widget-dark-blue">
            <div class="smart-widget-header">
                <h4>¿Cuál es el tiempo de entrega de un envío a Cuba? </h4>
            </div>
            <div class="smart-widget-inner">
                <div class="smart-widget-body">
                    <p>
                        La entrega puede oscilar entre 60 a 90 días hábiles. Los envíos por Cuba Matrix son los mas
                        rápidos
                        ya que salimos todas las semanas y trabajamos con servicio directo.
                    </p>
                </div>
            </div><!-- ./smart-widget-inner -->
        </div>
        <div class="smart-widget m-top-lg widget-dark-blue">
            <div class="smart-widget-header">
                <h4>¿Qué seguridad hay? </h4>
            </div>
            <div class="smart-widget-inner">
                <div class="smart-widget-body">
                    <p>
                        Nuestro contrato es con la agencia Palco, el contenedor va sellado desde aquí y se abre ahí, se
                        inspecciona por aduana y se llama a su familiar. Es muy seguro y confiable. Los envíos de las
                        otras
                        agencias aparte de ser más caros llegan al puerto y se procesan ahí.
                    </p>
                </div>
            </div><!-- ./smart-widget-inner -->
        </div>
        <div class="smart-widget m-top-lg widget-dark-blue">
            <div class="smart-widget-header">
                <h4>¿Dónde se recoge la carga? </h4>
            </div>
            <div class="smart-widget-inner">
                <div class="smart-widget-body">
                    <b>Nuestra carga es despachada por:</b>
                    <ul class="list-unstyled">
                        <li class="list-group-item">AGENCIA TRANSITARIA PALCO</li>
                        <li class="list-group-item">Palacio de las Convenciones de La Habana</li>
                        <li class="list-group-item">Calle 150 Entre 25 y 21-A, Siboney, Playa, Ciudad de La Habana, Cuba
                        </li>
                        <li class="list-group-item">Teléfono y fax: +53-72026011</li>
                    </ul>
                </div>
            </div><!-- ./smart-widget-inner -->
        </div>
    </div>
{% endblock %}
